<div class="container">
    <div class="web-img">
        <img src="../../../assets/images/web.jpg" alt="" width="500px" height="300px">
    </div>
    <div class="my-skill">
 <h2>Our Services</h2>
 <h3>We are providing web designing and web development services for those
     entrepreneure who did not connected digitally till now
     and they are not able to grow their business so I would like 
     to suggest them bring digitally your business and get profit more.
     Make a website with cheapest price contact now.

 </h3>
    </div>
</div>

<div class="container1">
    <div class="graphic">
        <h2>Graphic design</h2>
        <h3>
        We also provide graphic designing, video animation,video presentation
         service to promote your business on social media and on your website
         so that you can target your customer to sell your product 
         and services and make multiple times profit and be happy. 
        
        </h3>
    </div>
    <div class="graphic-skill">
        <img src="../../../assets/images/video.png" alt="" width="500px" height="300px">
 
    </div>
</div>
