.container{
    position: relative;
    top: 180px;
    display: flex;
}
.container1{
    position: relative;
    top: 200px;
    display: flex;
    margin: 40px;
}
.web-img img{
    border-radius: 18px;
}
.my-skill{
margin-left: 30px;

}
.my-skill h3{
 font-weight: 100;
 font-size: 20px;
 line-height: 38px;
}
.graphic{
    margin-left: 10px;
    
    }
    .graphic h3{
     font-weight: 100;
     font-size: 20px;
     line-height: 38px;
    }