<h1 style="text-align: center;">About us</h1>
<hr>
<div class="container">
    <div class="profile animate__animated animate__zoomIn">
        <h1>This is AJAY YADAV</h1>
        <h2>
            I am a full stack Web Developer basically I am from Jharkhand,
            but currently I am staying in bangalore
            I have rich experiance in website design and building
            also I am good at wordpress and graphic design,so I provide
            some services for the our indian small entrepreneure who
            did not connect digital till now.
            
        </h2>
        <button class="call">+91-6204013196</button>
<div class="social-icon">
    <a href="https://www.facebook.com/TechAjay9523/">
    <button id="facebook" class="effect">
        <i class="fa fa-facebook"></i>
    </button>
</a>
 <a href="https://www.instagram.com/techajay/">
    <button id="instagram" class="effect">
        <i class="fa fa-instagram"></i>
    </button>
</a>
    <a href="https://www.linkedin.com/in/ajay-yadav-41a5711a8/">
    <button id="linkedin" class="effect">
        <i class="fa fa-linkedin"></i>
    </button>
</a>
  
</div>
    </div>
    <div class="profile-img animate__animated animate__zoomIn">
        <img src="../../assets/images/pic.jpg"  alt="" width="400px" height="400px">
    </div>
</div>

<app-skills></app-skills>

