h2{
    font-family:sans-serif;
    font-weight: bold;
}
p{
    font-size: 18px;
    font-family: sans-serif;
}
img{
    box-shadow: 0px 5px 10px grey;
}
span{
    color: rgb(57, 6, 241);
    font-weight: bold;
}
.html-tags{
width: 100%;
border: 1px solid grey;
}
.html-tags th{
background-color: gainsboro;
padding: 10px 20px;
}
.html-tags td{
    border: 1px solid grey;
    line-height: 50px;
}