<div class="html-blog">
    <h3>Editors for HTML.</h3>
    <p>
        Now that we've covered some fundamentals of html that you shuld have idea before, 
        let's move on to the practical things how exactly html works on web page. <br><br>

First things that should have in your system while doing practical on html , 
so to work on practical you should have html editor they might be simple notepad that
comes with windows os and there are many text editor is availbale.so, here is the list 
    </p>
    <ul>
        <li>NOTEPAD</li>
        <li>VISUAL STUDIO CODE</li>
        <li>NOTEPAD++</li>
        <li>ATOM</li>
        <li>SUBLIME</li>
    </ul>
    <!-- html practical starts here -->
<h3>How to Make Your First HTML Website</h3>
<p>
    To begin, open your HTML editor, which will provide you with a blank white page on which to write your code.
    and just write the basic structure of html which is given below.
</p>
<img src="../../../assets/images/htmlstrc.png" alt="" width="700px" height="400px"><br>
<h3>What exactly these tags are ?</h3>
<span>&lt;!doctype html&gt;</span> -This Tag tells the browser the language which you used is HTML5
so that browser can easily read your code and makes browser compatible.
<br><br>
<span>&lt;html&gt;</span> -This element indicates that we will be writing code in HTML from now and
this is a root element of html.
<br><br>
<span>&lt;head&gt;</span>— This is where the page's metadata is stored, which is mostly for search engines and other computer programmes.
 <br><br>
 <span>&lt;title&gt;</span>This is the tag which specify the title of your website which is show only when
 website open in the browser will in top.
<br><br>
<span>&lt;body&gt;</span>psThis tag contains all the content which you want to show in your webpage for your business or personal
</div>
<div class="notpad">
    <h3>Lets Try to create in simple notepad</h3>
    <img src="../../../assets/images/notepad.bmp" alt="" width="700px" height="400px">
<h5>Result:-</h5><br>
<h1>This is heading tag</h1>
<p>This is paragraph tag</p>

<h4>HTML formattings element</h4>
<img src="../../../assets/images/formating.bmp" alt="" width="700px" height="400px">

</div>