<div class="container">
    <div class="row">
        <div class="col-8 ">
            <article>
                <header>
                    <h1 class="font-effect-shadow-multiple">HTML For Beginners The Easiest Way: Start Learning HTML With Us</h1>
                </header>
                <img src="../../assets/images/html.jpg" width="700px" alt="">

                <!-- Start blogging -->
                <p>
                    In just a few hours, you'll learn web technology with our whole beginner course. 
                    It's a step-by-step approach, and you will be able to 
                    learn in less amount of time easily so keep learning with this tutorial.
                <br><br>
                    Our step-by-step way will teach you the basic  of HTML and how to 
                    create your first website. This includes learning how to plan out  and make a HTML web page, 
                    add text and photos, add headings and text style, and many more.
                </p><br>
                <h3>HTML for Complete beginner.</h3> 
                <p>
                    Rather than trying to teach HTML through a lot of theoretical , 
                    this tutorial will focus on giving you the practical skills 
                    you'll need to develop your first website so guys just 
                    learn step by step this tutorial you will learn how to design a web page. 
                    <br><br>
                    The main purpose of this blog is to show you "how" to make your first 
                    web page without having trouble related to web designing.
                </p>
                <h3>What exactly is HTML?</h3>
                <p>
                    The most common language used to create websites is HTML.
                    HTML is a markup language that is used to generate and maintain web pages.

                </p>

                <h3>What is the History of HTML?</h3>
                <p>
                    Tim Berners-Lee, Robert Cailliau, and others designed HTML for the first time in 1989. 
                    Hyper Text Markup Language is the abbreviation for Hyper Text Markup Language.
                    <br><br>
                    The term "hypertext" refers to a document that has links that allow the reader to 
                    navigate to different parts of the page or to another document entirely. 
                    HTML5 is the most recent version.
                    <br><br>
                    A Markup Language is a way for computers to communicate with one another in order to 
                    show how text is processed and displayed on the computer’s browser. 
                    Tags and attributes are used in HTML to do this.

                </p>

                <h3>What Are HTML Tags and How Do I Use Them?</h3>
                <p>
                    Tags are used to indicate the beginning of an HTML element and are often enclosed in angle brackets. For example <br>
                     &lt;h1&gt;is an example of a tag.
                <br>
                    To operate, most tags must be opened &lt;h1&gt; and closed &lt;h1/&gt;.
                </p>
               
                <h3>What are HTML Attributes and How Do I Use Them?</h3>
                <p>
                    Attributes are data fields that include additional information. 
                    Attributes are represented by an opening tag with extra information inside. <br><br>
                    An attribute might be something like: <br><br>
                    &lt;img src="mydog.jpg" alt="A photo of my dog." width="200" height="200"&gt; <br><br>

                    The image source (src) ,(alt), and width,height are attributes of the img> tag in this case.
                </p>
            </article>
            <app-html></app-html>

</div>
    <div class="col-4">
        <div class="side-bar">
            <p><a href="">What is html?</a></p>
            <p><a href="">What is the History of HTML?</a></p>
            <p><a href="">HTML Tags</a></p>
            <p><a href="">HTML Headings</a></p>
            <p><a href="">HTML Paragraphs tag</a></p>
            <p><a href="">HTML Formatting</a></p>
            <p><a href="">HTML Quotations</a></p>
            <p><a href="">HTML Comments tag</a></p>
            <p><a href="">HTML Links tag</a></p>
            <p><a href="">HTML Table tag</a></p>
            <p><a href="">HTML Lists tag</a></p>
            <p><a href="">HTML Images tag</a></p>
            <p><a href="">HTML Iframes tag</a></p>
            <p><a href="">HTML Audio tag</a></p>
            <p><a href="">HTML Video tag</a></p>
            <p><a href="">HTML marquee tag</a></p>
        </div>

    </div>
</div>