.carousel .carousel-item h1{
    position: absolute;
    top: 100px;
    left: 99px;
    font-size: 3rem;
    color: yellow;
    font-weight: bold;
}
.carousel .carousel-item h4{
    position: absolute;
    top: 170px;
    left: 188px;
    color: yellow;
}
.carousel .carousel-item .btn{
    position: absolute;
    top: 228px;
    left: 423px;
    width: 300px;
    border: none;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}
.carousel .carousel-item img{
    width: 600px;
    height: 400px;
}